::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #A8A8A8;
}

/* CSS für die Benachrichtigung */
.contacts_notification {
<<<<<<< HEAD
    text-align: center;
=======
>>>>>>> 39d36ac64bdf993867c60fee9b0cca582612aa7d
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s;
}

/* CSS für den OK-Button */
.contacts_notification button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.prio_notification {
<<<<<<< HEAD
    text-align: center;
=======
>>>>>>> 39d36ac64bdf993867c60fee9b0cca582612aa7d
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s;
}

.prio_notification button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

<<<<<<< HEAD
.board_category_notification {
    text-align: center;
=======
.title_notification {
>>>>>>> 39d36ac64bdf993867c60fee9b0cca582612aa7d
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s;
}

<<<<<<< HEAD
.board_category_notification button {
=======
.title_notification button {
>>>>>>> 39d36ac64bdf993867c60fee9b0cca582612aa7d
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.description_notification {
<<<<<<< HEAD
    text-align: center;
=======
>>>>>>> 39d36ac64bdf993867c60fee9b0cca582612aa7d
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s;
}

.description_notification button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.date_notification {
<<<<<<< HEAD
    text-align: center;
=======
>>>>>>> 39d36ac64bdf993867c60fee9b0cca582612aa7d
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s;
}

.date_notification button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

<<<<<<< HEAD
.category_color_notification {
    text-align: center;
=======
.must_have_notification {
>>>>>>> 39d36ac64bdf993867c60fee9b0cca582612aa7d
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s;
}

<<<<<<< HEAD
.category_color_notification button {
=======
.must_have_notification button {
>>>>>>> 39d36ac64bdf993867c60fee9b0cca582612aa7d
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.show_final_notification {
<<<<<<< HEAD
    text-align: center;
=======
>>>>>>> 39d36ac64bdf993867c60fee9b0cca582612aa7d
    display: none;
    position: relative;
    flex-direction: column;
    top: 102px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F5F5F5;
    color: black;
    border-radius: 22px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s;
}

.show_final_notification button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}


.show_final_notification_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.show_final_notification_div {
    align-items: flex-start;
    height: 100%;
    width: 100%;
<<<<<<< HEAD
    display: flex;
=======
    display: flex
>>>>>>> 39d36ac64bdf993867c60fee9b0cca582612aa7d
}

.task_added {
    cursor: pointer;
<<<<<<< HEAD
}

.noteWindow {
    align-items: center;
    justify-content: center;
    top: 0%;
    display: flex;
    position: absolute;
    height: 15%;
    width: 100%;
    z-index: 2;
}

.idk p {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 5px;
}

@media (max-width: 850px) {

    .contacts_notification {
        top: 8%;
    }

    .prio_notification {
        top: 8%;
    }

    .title_notification {
        top: 8%;
    }

    .description_notification {
        top: 8%;
    }

    .date_notification {
        top: 8%;
    }

    .must_have_notification {
        top: 8%;
    }

    .show_final_notification {
        top: 8%;
    }

=======
>>>>>>> 39d36ac64bdf993867c60fee9b0cca582612aa7d
}