@media (max-width: 1200px) {

<<<<<<< HEAD
    .newCategoryContainer input {
        width: 100% !important;
    }

    .newCategoryContainer {
        width: 100% !important;
    }

=======
>>>>>>> 39d36ac64bdf993867c60fee9b0cca582612aa7d
    #prio_notification {}

    .header_div {
        font-size: 56px;
        margin-top: 20px;
        width: 100%;
        margin-bottom: 12px;
    }

    .borderline {
        display: none;
    }

    #addTaskFormClass {
        overflow-y: auto;
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .responsive_formclass {
        position: absolute;
        top: inherit;
        width: 90%;
        margin-top: -80px;
        flex-direction: column;
        overflow-y: auto;
        display: flex;
    }

    .title_description_div {
        flex-direction: column;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .title_inputfield {
        width: auto;
        height: 36px;
        outline: none;
        padding-left: 8px;
        border-radius: 10px;
        border: 1px solid #DADADA;
    }

    .description_inputfield {
        width: auto;
        height: 118px;
        border-radius: 8px;
        outline: none;
        padding-left: 8px;
        border: 1px solid #DADADA;
    }

    .assigned_to_inputfield {
        width: auto;
        padding-left: 8px;
        height: 36px;
        outline: none;
        border-radius: 10px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        border: 1px solid #DADADA;
    }

    .categoryAndSelect {
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .date_inputfield {
        padding-right: 10px;
        width: auto;
        height: 36px;
        outline: none;
        padding-left: 8px;
        border-radius: 10px;
        border: 1px solid #DADADA;
    }

    .urgent_prio_btn_characteristics {
        width: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        outline: none;
        border-radius: 10px;
        border: 1px solid #DAD4D2;
        margin-right: 10px;
        background-color: #FFFFFF;
    }

    .medium_prio_btn_characteristics {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        width: 32%;
        outline: none;
        border-radius: 10px;
        border: 1px solid #DAD4D2;
        margin-right: 10px;
        background-color: #FFFFFF;
    }

    .low_prio_btn_characteristics {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        width: 32%;
        outline: none;
        border-radius: 10px;
        border: 1px solid #DAD4D2;
        margin-right: 10px;
        background-color: #FFFFFF;
    }

    .subtaskInputfield {
        width: 95%;
        height: 36px;
        outline: none;
        text-indent: 1px;
        appearance: none;
    }

    .urgent_prio_btn_characteristics_onclick {
        width: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        outline: none;
        border-radius: 10px;
        border: 0px solid #DAD4D2;
        margin-right: 10px;
        background-color: #FF3E01;
        color: #FFFFFF;
    }

    .medium_prio_btn_characteristics_onclick {
        width: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        outline: none;
        border-radius: 10px;
        border: 0px solid #DAD4D2;
        margin-right: 10px;
        background-color: #FFB62A;
        color: #FFFFFF;
    }

    .low_prio_btn_characteristics_onclick {
        width: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        outline: none;
        border-radius: 10px;
        border: 0px solid #DAD4D2;
        margin-right: 10px;
        background-color: #7DE32E;
        color: #FFFFFF;
    }

    .title_inputfield {
        margin-bottom: 12px;
        width: auto;
        height: 36px;
        outline: none;
        padding-left: 8px;
        border-radius: 10px;
        border: 1px solid #DADADA;
    }

    .description_inputfield {
        margin-bottom: 12px;
        width: auto;
        height: 118px;
        border-radius: 8px;
        outline: none;
        padding-left: 8px;
        border: 1px solid #DADADA;
    }

    .assigned_to_inputfield {
        width: auto;
        padding-left: 8px;
        height: 36px;
        outline: none;
        border-radius: 10px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        border: 1px solid #DADADA;
    }

    #category {
        margin-bottom: 12px;
        box-sizing: border-box;
        padding: 5px 10px;
        height: 36px;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        display: flex;
        align-items: center;
        background: white url(http://gruppe-691.developerakademie.net/arrow_drop_down.svg) no-repeat right 10px center;
    }

    .add_Prio_section {
        margin-bottom: 12px;
        height: 115px;
        display: flex;
        flex-direction: column;
    }

    .taskContainerItemsPosition {
        align-items: center;
        display: flex;
        margin-bottom: 12px;
    }

    .newCategoryContainer {
        width: 100%;
        display: flex;
    }

    .newCategoryContainer input {
        border-right: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-right: 0;
        padding-left: 12px;
        width: 95%;
        height: 36px;
        outline: none;
        border-radius: 10px 0px 0px 10px;
        border: 1px solid #DADADA;
    }
}


@media (max-width: 1050px) {

    .header-text {
        margin-left: 0px;
        font-weight: 500;
    }

    .contentSection {
        margin-top: 12px;
        margin-left: 12px;
        position: fixed;
        top: 89px;
        left: 0px;
        bottom: 0;
        right: 0;
    }

    .clear_and_create_task_position {
        margin-bottom: 100px;
    }

}


@media (max-width: 750px) {
    .header_div h1 {
        font-size: 46px;
        margin-top: 0px;
        margin-bottom: 0;
        width: 100%;
        font-weight: bold;
    }

    .clear_and_create_task_btn {
        flex-direction: column-reverse;
    }

    .create_task_button {
        margin-left: 0px;
        margin-bottom: 10px;
    }

}

@media (max-width: 450px) {

    h6 {
        font-size: small;
    }

    .prio_btn_position {
        display: flex;
        justify-content: center;
    }

    .low_prio_btn_characteristics {
        width: 33% !important;
        margin-right: 0px !important;
    }

    .medium_prio_btn_characteristics {
        width: 33% !important;
    }

    .urgent_prio_btn_characteristics {
        width: 33% !important;
    }

    .prio_icon_position {
        height: 18px;
        width: 18px;
    }

    .prio_btn_position {
        display: flex !important;
        justify-content: center !important;
    }
}