.clear_and_create_task_position {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0px;
    gap: 25px;
    padding-bottom: 30px;
    padding-right: 5px;
}

.clear_and_create_task_btn {
    display: flex;
    justify-content: center;
}

.clear_button {
    background: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 55px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    transition: ease-in-out 125ms;
    margin-right: 5px;
}

.clear_button:hover {
    cursor: pointer;
    color: rgb(83, 168, 223);
    border: 1.5px solid rgb(83, 168, 223);
    transform: scale(1.02);
    box-shadow: 0px 3px 6px rgb(190, 190, 190);
    transition: ease-in-out 125ms;
}

.create_task_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 15px;
    gap: 10px;
    font-weight: 700;
    color: #FFFFFF;
    width: 187px;
    height: 55px;
    background: #2A3647;
    border: none;
    border-radius: 10px;
    transition: ease-in-out 125ms;
    margin-left: 5px;
}

.create_task_button:hover {
    cursor: pointer;
    background-color: rgb(83, 168, 223);
    transform: scale(1.02);
    box-shadow: 0px 3px 6px rgb(190, 190, 190);
    transition: ease-in-out 125ms;
}

.date_input_wrapper {
    position: relative;
}

.calendar_icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.categoryAndSelect {
    width: 375px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.newCategoryContainer {
    width: 422px;
    display: flex;
}

.d-none {
    display: none;
}

.categoryColor {
    height: 13px;
    width: 13px;
    border: 2px solid white;
    border-radius: 100%;
}

.checkButton {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.newCategoryColors {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding-left: 5px;
}

.newCategoryColors p {
    cursor: pointer;
    transition: ease-in-out 125ms;
}

.newCategoryColors p:hover {
    transform: scale(1.2);
    transition: ease-in-out 125ms;
}

.newCategoryColorContainer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}

#categoryOverlay {
    box-sizing: border-box;
    padding: 5px 10px;
    width: 422px;
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    align-items: center;
    background: white url("../../img/dropdownArrow.png") no-repeat right 10px center;
    cursor: pointer;
}

#category {
    box-sizing: border-box;
    padding: 5px 10px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background: white url("http://gruppe-691.developerakademie.net/arrow_drop_down.svg") no-repeat right 10px center;
}

.categoryContainer {
    display: flex;
    align-items: center;
}

.categoryDropdown {
    border: 1px solid #D1D1D1;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 105px;
    overflow-y: auto;
}

.categoryDropdown::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.categoryDropdown::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
}

.categoryOption {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 8px;
    cursor: pointer;
    transition: all ease-in-out 125ms;
}

.categoryOption:hover {
    background-color: lightgray;
    transition: all ease-in-out 125ms;
}

.newCategoryContainer input {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 0;
    padding-left: 12px;
    width: 303px;
    height: 36px;
    outline: none;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #DADADA
}

.newCategoryContainer button {
    cursor: pointer;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    transition: ease-in-out 125ms;
}

.newCategoryContainer button:hover {
    background-color: lightgray;
    transition: ease-in-out 125ms;
}

.assignedToList {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    max-height: 44px;
    overflow-y: auto;
}

.assigneeContainer {
    cursor: pointer;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 125ms;
}

.assigneeContainer:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: ease-in-out 125ms;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}


::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #A8A8A8;
}

.header-vector {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.vector-class {
    height: 20px;
    width: 20px;
    transition: ease-in-out 125ms;
}

.vector-class:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out 125ms;
}

#subtaskBoardInput {
    padding-left: 8px;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
    border-right-color: #ffffff;
}

.bullet {
    margin-right: 5px;
    /* Abstand zwischen dem Aufzählungszeichen und dem Text */
}

.board-vector-class {

    height: 20px;
    width: 20px;
    transition: ease-in-out 125ms;
}

.board-vector-position {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.board-vector-class:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out 125ms;
}

.board-confirm-div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.board-confirm-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    height: 55px;
    color: white;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-size: 21px;
}

.board-confirm-btn:hover {
    background-color: rgb(41, 171, 226);
    border: 2px solid rgb(41, 171, 226);
    cursor: pointer;
}