body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h3 {
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 5px;
}

.overflow-hidden {
    overflow: hidden;
}

.board-background {
    background-color: rgb(9, 25, 49);
}

.board-background:hover {
    background-color: rgb(9, 25, 49) !important;
}

.add-task-background {
    background-color: unset !important;
}

.add-task-background:hover {
    background-color: #2A3D59 !important;
}


.nav-sub:hover {
    background-color: #2A3D59;
    color: white;
    cursor: pointer;
}

.board-to-do-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    margin-top: 80px;
    margin-bottom: 80px;
}



.topic {
    margin-left: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.4);
    background-image: url("../assets/img/Property 1=Default.svg");
    background-repeat: no-repeat;
    background-position: 185px 3px;
    padding: 5px;
    margin-right: 30px;
    cursor: pointer;
    height: 30px;
    font-size: 18px;
    width: 210px;
}

.heading {
    margin-left: 35px;
}

.add-task-button {
    background-color: rgb(42, 54, 71);
    color: white;
    padding: 0px 10px 4px 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.empty-task {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed lightgrey;
    border-radius: 10px;
    padding: 10px;
    background-color: #E7E7E7;
    width: 185px;
    position: absolute;
    margin-left: 5px;
    top: 10px;
    z-index: 0;
    color: #B0B0B0;
    font-weight: 300;
}

.add-task-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.06);
}

.add-symbol {
    font-size: 30px;
    height: 39px;
}

.flex-box {
    display: flex;
    margin-right: 100px;
}

.to-do-container {
    margin-left: 240px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    height: 514px;
}

.table-gaps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.task-item {
    margin-bottom: 10px;
    z-index: 0;
}

.ball-and-prio-img-div {
    width: 100%;
    display: flex;
    align-items: center;
}

.table-heading {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 240px;
    margin-left: 35px;
    margin-right: 35px;
    color: rgb(42, 54, 71);
    font-weight: bold;
    overflow-y: scroll;
    height: 450px;
    position: relative;
}

.pinned-task-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 19px;
    gap: 10px;
    width: 180px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    cursor: pointer;
}

.pinned-task-description {
    margin-top: 5px;
    margin-bottom: 5px;
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    width: 226px;
    margin-bottom: 10px;
    margin-left: 35px;
}

.pinnedPrioPosition {
    display: flex;
    justify-content: end;
    width: 100%;
}

.pinnedAssigneBallPosition {
    display: flex;
}

.assigne-ball {
    margin-left: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: white;
}

.pinnedPrioImg {
    height: 30px;
    width: 30px;
}

.categoryOvervievPopUp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 172px;
    height: 30px;
    color: white;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
}

.category-background-color {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 118px;
    height: 24px;
    color: white;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
}

.taskPopUpAssignmentsList {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    gap: 25px;
    /* overflow-y: auto; */
}

.taskPopUpSingleAssignmentContainer {
    width: 185px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.overviewButtons {
    width: 100%;
    display: flex;
    justify-content: end;
}

.popUpButtonsContainer {
    display: flex;
    align-items: center;
    bottom: 60px;
    right: 47px;
    border-collapse: collapse;
    position: absolute;
}

.taskPopUpButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 2px solid #2A3647;
    height: 40px;
    width: 40px;
}

.taskPopUpButton:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease-in-out 125ms
}

.categoryHeaderDiv {
    width: 100%;
}

.categoryHeaderPosition {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.wholeTaskOverview {
    display: contents;
}

.leftBtn {
    border-right: none;
    height: 40px;
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer
}

.rightBtn {
    height: 40px;
    width: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    position: relative;
}

.add-icon:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: ease-in-out 125ms;
}


.added-task-container {
    display: flex;
    margin-left: 240px;
}

.added-tasks {
    margin-left: 40px;
    width: 240px;
    margin-top: 10px;
}



.drag-area {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px dashed black;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.todo {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}


.overlaySection {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}


.addTaskOverlaySection {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1;
}


.taskOverviewPopUp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 25px;
    isolation: isolate;
    width: 600px;
    height: 90vh;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    box-sizing: border-box;
    overflow-y: auto;
}

.taskOverviewPopUp::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
}


.taskCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 103px;
    height: 27px;
    color: white;
    background: #FF7A00;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.taskPopUpHeadline {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #2A3647;
}

.taskPopUpNameContainer {
    margin-left: 15px;
}

.taskPopUpDiscription {
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 120%;
}

.taskPopUpRow {
    display: flex;
    align-items: center;
    gap: 25px;
}

.taskPopUpRightTd {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px 18px;
}

.prioContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 18px;
    gap: 10px;
    border-radius: 10px;
    width: 130px;
    height: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

#modifymedium {
    color: white;
    background-color: #FFB62A !important;
    font-size: large;
}

#modifymediumIcon {
    background-image: url('../assets/img/Prio media-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 10px;
    width: 24px;
}

#modifylow {
    color: white;
    background-color: #7de32e !important;
    font-weight: bold;
    font-size: large;
}

#modifylowIcon {
    background-image: url('../assets/img/Prio baja-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 19px;
    width: 24px;
}

#modifyurgent {
    color: white;
    background-color: #FF3E01 !important;
    font-weight: bold;
    font-size: large;
}

#modifyurgentIcon {
    background-image: url('../assets/img/Prio alta-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 19px;
    width: 24px;
}


.boardContentContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.edit-subTask {
    padding-left: 1rem;
    margin-bottom: 0rem;
}

.edit-subTask li::before {
    content: "•";
    /* Benutzerdefiniertes Aufzählungszeichen */
    margin-right: 0.5em;
}

.edit-subTask-titel {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    max-height: 60px;
    overflow-y: scroll;
}

.subtaskList li::before {
    content: "•";
    /* Benutzerdefiniertes Aufzählungszeichen */
    margin-right: 0.5em;
    display: flex;
    align-items: center;
}

.taskOverviewForm {
    width: 100%;
}

.board_title_inputfield {
    width: 370px;
    height: 36px;
    outline: none;
    padding-left: 8px;
    border-radius: 10px;
    border: 1px solid #DADADA;
}

.board_description_inputfield {
    width: 370px;
    height: 118px;
    border-radius: 8px;
    outline: none;
    padding-left: 8px;
    border: 1px solid #DADADA;
}