
.edit-subTask {
    padding-left: 1rem;
    margin-bottom: 0rem;
}

.edit-subTask li::before {
    content: "•";
    margin-right: 0.5em;
}

.edit-subTask-titel {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

.subtaskList li::before {
    margin-right: 0.5em;
    display: flex;
    align-items: center;
}

.taskOverviewForm {
    width: 100%;
}

.board_title_inputfield {
    width: 370px;
    height: 36px;
    outline: none;
    padding-left: 8px;
    border-radius: 10px;
    border: 1px solid #DADADA;
}

.board_description_inputfield {
    width: 370px;
    height: 118px;
    border-radius: 8px;
    outline: none;
    padding-left: 8px;
    border: 1px solid #DADADA;
}

#noTaskInToDo {
    display: flex;
    justify-content: center;
    position: relative;
}

#noTaskInProgress {
    display: flex;
    justify-content: center;
    position: relative;
}

#noTaskInAwait {
    display: flex;
    justify-content: center;
    position: relative;
}

#noTaskInDone {
    display: flex;
    justify-content: center;
    position: relative;
}

.no_tasks_class {
    border-radius: 10px;
    top: 5px;
    z-index: 0;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #DADADA;
    position: absolute;
    padding: 8px;
}

.progress-bar-container {
    width: 100%;
    height: 12px;
    background-color: #f0f0f0;
    margin-top: 10px;
    border-radius: 6px;
}

.progress-bar {
    transition: width 0.5s ease 0s;
    height: 100%;
    background-color: rgb(41, 171, 226);
    width: 0%;
    border-radius: 6px;
}

.lineThrough {
    text-decoration: line-through;
}

.subTaskAlignment {
    display: flex;
}

.assignment-container {
    display: flex;
    align-items: center;
}