@media (max-width: 345px) {
    .flex-box-mobile {
        gap: 0;
    }

    .nav-sub {
        font-size: 13px;
    }

    .separate-contacts {
        width: 240px;
    }

    .nav-sub {
        padding: 11px 5px 11px 5px;
    }
}

@media (max-width: 340px) {
    #overlay-add-contact {
        width: 275px;
    }

    .overlay-headline {
        font-size: 40px;
    }

    .overlay-text {
        font-size: 18px;
    }

    .input-fields {
        padding-left: 2px;
    }

    .flex-box-overlay {
        left: 94px;
    }

    .buttons-margin-left {
        margin-left: 40px !important;
    }

    #overlay-edit-contact {
        width: 275px;
    }

    .overlay-buttons {
        margin-left: 4px;
    }
}

