body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.width-100 {
    width: 100%;
}

.d-none {
    display: none;
}

.text-center {
    text-align: center;
}

.padding-5 {
    padding: 5px;
}

.padding-left-right-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.padding-left-right-25 {
    padding-left: 25px;
    padding-right: 25px;
}

/*---------------Background-Color--------------*/

.background-color-2A3647 {
    background-color: #2A3647 !important;
}

.background-color-F6F7F8 {
    background-color: #F6F7F8 !important;
}

.background-color-D1D1D1 {
    background-color: #D1D1D1 !important;
}

.backgroundColor-29ABE2 {
    background-color: #29ABE2;
}

/*-----------------------Font Sizes--------------------*/

/*--------Headlines--------*/
h1 {
    font-size: 55px;
    font-weight: 700;
}

h2 {
    font-size: 27px;
    font-weight: 700;
}
/*--------Size 16px--------*/
.fontSize-16-400 {
    font-size: 16px;
    font-weight: 400;
}

.fontSize-16-700 {
    font-size: 16px;
    font-weight: 700;
}

/*--------Size 20px--------*/

.fontSize-20-400 {
    font-size: 20px;
    font-weight: 400;
}


/*--------Size 21px--------*/

.fontSize-21-700 {
    font-size: 21px;
    font-weight: 700;
}


/*--------Size 27px--------*/
.fontSize-27-400 {
    font-size: 27px;
    font-weight: 400;
}

/*--------Size 27px--------*/
.fontSize-47-500 {
    font-size: 47px;
    font-weight: 500;
}

/*--------Size 64px--------*/
.fontSize-64-600 {
    font-size: 64px;
    font-weight: 600;
}

.fontSize-64-700 {
    font-size: 64px;
    font-weight: 700;
}





/*-----------------------Font Color--------------------*/

.color-000000 {
    color: #000000;
}

.color-2A3647 {
    color: #2A3647;
}

.color-FFFFFF {
    color: #FFFFFF;
}

.color-29ABE2 {
    color: #29ABE2;
}

@media (max-width: 600px) {
    .fontSize-64-600 {
        font-size: 47px;
    }

    .fontSize-16-400 {
        font-size: 14px;
    }

    .fontSize-20-400 {
        font-size: 14px;
    }

    .fontSize-21-700 {
        font-size: 16px;
    }

    .fontSize-47-500 {
        font-size: 36px;
    }

    .fontSize-64-700 {
        font-size: 47px;
    }
}

@media (max-width: 500px) {
    .fontSize-21-700 {
        font-size: 16px;
    }
}