.container {
    margin-left: 270px;
    padding: 30px;
}

.container p {
font-size: 16px;
font-weight: 400;
}

@media (max-width: 1050px) {
    .container {
        margin-left: 0px;
        padding: 30px 30px 100px 30px;
    }
}