.summary-background {
    background-color: rgb(9, 25, 49);
}

.summary-background:hover {
    background-color: rgb(9, 25, 49);
}

.contacts-background {
    background-color: unset;
}

.summary-hoverd {
    background-color: rgb(9, 25, 49);
    color: white;
    cursor: pointer;
}

.summary-content {
    height: calc(100vh - 100px);
    display: flex;
}

.summary-board {
    margin-left: 328px;
    width: 100%;
}

.task-summary {
    width: 560px;
    height: 562px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*--------------------------Headline-----------------------*/

.header-summary {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px 0 0 0;
}

.header-summary h1 {
    margin: 5px 0;
}

.header-summary span {
    height: 59px;
    border-right: 3px solid #29ABE2;
}

/*---------------------Task Board--------------------------*/

.tasks-and-greeting {
    display: flex;
    align-items: center;
    height: 65vh;
}

.to-do-and-done {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 560px;
    height: 184px;
}

.to-do-and-done-taskarea {
    width: 264px;
    height: 168px;
}

.to-do-and-done-taskarea-hover {
    width: 280px;
    height: 184px;
}

.summary-progress {
    cursor: pointer;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.summary-progress-none-hover {
    background-color: #ffffff;
}

.summary-progress-hover {
    background-color: #2A3647;
}

.summary-progress img {
    width: 69px;
    height: 69px;
}

.summary-progress-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-urgend {
    height: 168px;
}

.summary-urgend-hover {
    height: 184px;
}

.urgend-count {
    display: flex;
    align-items: center;
    gap: 18px;
}

.urgend-tasks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 61px;
}

.urgend-task-border {
    border: 2px solid #D1D1D1;
    height: 102px;
}

.urgend-deadline {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.summary-task-board {
    width: 100%;
    height: 184px;
    display: flex;
    justify-content: space-between;
}

.summary-task-board-container {
    width: 184px;
    height: 184px;
}

.summary-tasks {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border-radius: 30px;
}

.urgent-task-overview {
    width: 168px;
    height: 168px;
}

.urgent-task-overview-hover {
    width: 184px;
    height: 184px;
}

/*---------------------Greeting User-------------------*/

#greeting_user {
    margin-left: -328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    width: 385px;
    height: 136px;
    text-align: center;
    position: absolute;
    top: calc(50% - (136px / 2));
    left: calc(50% + (385px / 2));
}

#greeting_user span {
    width: 100%;
}

.greeting-user-background {
    margin-top: -228px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(246, 247, 248, 1)
}

@keyframes reduceGreeting {
    100% {
        top: calc(55% - (136px / 2));
        left: calc(55% + (385px / 2));
        margin-left: 0;
    }
}

@keyframes reduceGreetingBg {
    0% {
        background-color: rgba(246, 247, 248, 1);
    }

    100% {
        background-color: rgba(246, 247, 248, 0);
        display: none;
    }
}

@media (max-width: 1300px) {

    .header-summary {
        justify-content: center;
    }

    .tasks-and-greeting {
        justify-content: center;
    }

    .greeting-user-background {
        display: flex;
        margin-top: 0px;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }


    #greeting_user {
        align-items: center;
    }

    @keyframes reduceGreeting {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            display: none;
        }
    }    
}

@media (max-width: 1050px) {

    #greeting_user {
        margin-left: 0;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
    }

    .summary-content {
        height: calc(100vh - 180px);
        justify-content: center;
        align-items: center;
    }

    .summary-board {
        margin-left: 0px;
    }

}

@media (max-width: 950px) {}

@media (max-width: 850px) {
    .summary-board {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 750px) {}

@media (max-width: 600px) {

    .header-summary {
        width: 90%;
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .header-summary h1 {
        margin: 0;
    }

    .header-summary span {
        display: none;
    }

    .task-summary {
        width: 500px;
        height: 480px;
    }

    .to-do-and-done {
        width: 500px;
        height: 154px;
    }

    .to-do-and-done-taskarea {
        width: 234px;
        height: 138px;
    }

    .to-do-and-done-taskarea-hover {
        width: 250px;
        height: 154px;
    }

    .summary-urgend {
        height: 138px;
    }

    .summary-urgend-hover {
        height: 154px;
    }

    .urgent-task-overview {
        width: 138px;
        height: 138px;
    }

    .urgent-task-overview-hover {
        width: 154px;
        height: 154px;
    }

    .summary-task-board-container {
        width: 154px;
        height: 154px;
    }

    .summary-task-board {
        height: 154px;
    }

    .summary-progress img {
        width: 50px;
        height: 50px;
    }

    .urgend-task-border {
        height: 86px;
    }
}

@media (max-width: 500px) {

    body {
        height: 100vh;
    }

    .tasks-and-greeting {
        height: 55vh;
    }

    .task-summary {
        width: 388px;
        height: 80%;
    }

    .to-do-and-done {
        width: 100%;
        height: 120px;
    }

    .to-do-and-done-taskarea {
        width: 186px;
        height: 110px;
    }

    .to-do-and-done-taskarea-hover {
        width: 194px;
        height: 120px;
    }

    .summary-urgend {
        height: 110px;
    }

    .summary-urgend-hover {
        height: 120px;
    }

    .urgend-tasks {
        gap: 20px;
    }

    .urgent-task-overview {
        width: 116px;
        height: 116px;
    }

    .urgent-task-overview-hover {
        width: 124px;
        height: 124px;
    }

    .summary-task-board-container {
        width: 124px;
        height: 124px;
    }

    .summary-task-board {
        height: 124px;
    }

    .summary-progress img {
        width: 40px;
        height: 40px;
    }

    .urgend-task-border {
        height: 68px;
    }
}

@media (max-width: 400px) {

    .task-summary {
        width: 350px;
    }

    .to-do-and-done-taskarea {
        width: 167px;
        height: 110px;
    }

    .to-do-and-done-taskarea-hover {
        width: 175px;
        height: 120px;
    }

    .summary-urgend {
        height: 100px;
    }

    .summary-urgend-hover {
        height: 110px;
    }

    .urgent-task-overview {
        width: 108px;
        height: 108px;
    }

    .urgent-task-overview-hover {
        width: 116px;
        height: 116px;
    }
}